body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
}

.activities {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    justify-content: space-between;
    gap: 20px;
    /* margin-top: 20px; */
}

.activity {
    background-color: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.activity:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.activity img {
    width: 100%;
    height: 30px;
    object-fit: cover; 
    border-radius: 10px;
}
#heading2 {
    /* width: 100%; */
    align-self: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.activity-fitness {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.activity-yoga {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.activity-stretching {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.activity-bodyShape {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.activity img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.filter {
    display: flex;
    width: 300px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.category {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0;
}

.description {
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.schedule {
    color: gray;
    font-size: 0.9rem;
}

.details-btn, .add-btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.details-btn {
    background-color: #747075;
    color: white;
}

.details-btn:hover {
    background-color: #747075;
}

.add-btn {
    background-color: #ae27a5;
    color: white;
}

.add-btn:hover {
    background-color: #ae27a5;
}

