* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
}

.activities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

#yogaContainer, 
#stretchingContainer, 
#fitnessContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.activity {
    width: 250px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
}

.activity:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.activity img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.activity .category {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.activity .description {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.activity .schedule {
    font-size: 0.9em;
    color: #999;
    margin-bottom: 15px;
}

.activity .type {
    font-size: 1.3em;
    color: #999;
    margin-bottom: 15px;
}

.activity .details-btn {
    background-color: rgb(214, 207, 212);
    color: white !important;
    font-weight: bold;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* .activity .details-btn:hover {
    background-color: #ff3b2f;
} */

#heading2, h2 {
    width: 100%;
    font-size: 24px;
    padding: 10px 10px;
}

.activity-fitness,
.activity-yoga,
.activity-stretching {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .filter {
    display: flex;
    width: 300px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
} */

/* .details-btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
    background-color: grey;
    color: white;
    font-weight: bold;
}    */

/* .details-btn:hover {
    background-color: #747075;
} */
