
header {
    position: inherit; 
    background-color: rgb(155, 71, 198);
    color: white;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; /* to adapt elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure header is always on top */
}

#logo {
    display: flex;
    align-items: center;
    padding: 3px 10px;
}

#logo img {
    height: 50px; 
    width: auto; 
    display: block;
}

nav {
    display: flex;
    flex: 1; /* to stretch and fill the available space */
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

nav ul {
    display: flex;
    flex-wrap: wrap; /* to adapt on small screens */
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    text-align: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#searchInput {
    padding: 10px;
    width: 180px; /* adjusted width */
    border: 1px solid fuchsia;
    border-radius: 20px;
    transition: width 0.3s ease;
}

#searchInput:focus {
    width: 250px; /* width on focus */
}

.search button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background-color: fuchsia;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search button:hover {
    background-color: #ff006a;
    transform: scale(1.05);
}

.search button:active {
    transform: scale(0.95);
}

.my-profile {
    display: flex;
    position: sticky;
}
#btn {
    padding: 10px 15px;
    border: none;
    background-color: fuchsia;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
 }

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        flex-direction: column;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
    }

    .search-container {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    #searchInput {
        width: 60%; 
    }

    .my-profile {
        margin-top: 10px;
    }
}
